<a href="https://colab.research.google.com/github/khalidpark/pandas_exercises/blob/master/exercises_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'

출처 : https://www.datamanim.com/dataset/99_pandas/pandasMain.html

데이터를 로드하라. 데이터는 \t을 기준으로 구분되어있다.

In [5]:
df = pd.read_csv(DataUrl,sep='\t')

데이터의 상위 5개 행을 출력하라

In [16]:
df.head(5)

       gameId   creationTime  gameDuration  ...  t2_ban3  t2_ban4  t2_ban5
0  3326086514  1504279457970          1949  ...       43       16       51
1  3229566029  1497848803862          1851  ...      238       51      420
2  3327363504  1504360103310          1493  ...      121       57       28
3  3326856598  1504348503996          1758  ...      141       40       51
4  3330080762  1504554410899          2094  ...      201      122       18

[5 rows x 61 columns]

데이터의 행과 열의 갯수를 파악하라

In [9]:
print(df.shape)
print('행:',df.shape[0])
print('열:',df.shape[1])

(51490, 61)
행: 51490
열: 61

전체 컬럼을 출력하라

In [15]:
df.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

6번째 컬럼을 출력하라

In [14]:
df.columns[5]

'firstBlood'

6번째 컬럼의 데이터 타입을 확인하라

In [13]:
df.dtypes['firstBlood']

dtype('int64')

데이터셋의 인덱스 구성은 어떤가

In [17]:
df.index

RangeIndex(start=0, stop=51490, step=1)

6번째 컬럼의 3번째 값은 무엇인가?

In [20]:
df.columns[5][2]

'r'



---